
.headline-xxl {
    font-size: var( --font-size-xxl);
    font-weight: var( --fw-xxl);
    line-height: var( --lh-headline-xxl);
    /* letter-spacing: var(--ls-xxl); */
}

.subtitle-hero {
    font-size: 14px;
    color: var(--color-primary-gray);
}

.headline-xl {
    font-size: var( --font-size-xl);
    font-weight: var( --fw-xxl);
    line-height: var( --lh-headline-xxl);
    /* letter-spacing: var(--ls-xxl); */
}

.size-xs {
    font-size: var(--font-size-xxs);
    font-weight: var(--fw-xl);
    color: var(--color-primary-gray);
}

.size-sm {
    font-size: var( --font-size-xxs);
    color: var( --color-gray-light);
   
}



